nav {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 60px;
  background-color: teal;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 1rem;
}

.nav__logo h1 {
  cursor: pointer;
  font-family: "Nunito";
  color: #e9bb1d;
  font-size: 1.8rem;
}
.nav__nav-links {
  height: 100%;
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  text-align: center;
  font-size: 1rem;
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-inline: 10px; */
}

.nav-link.active {
  background-color: #cca114;
  color: black;
}

.nav-link__text {
  padding-inline: 0.5rem;
}
.nav-link:hover {
  border-bottom: 3px solid #cca114;
}

.nav__logout {
  padding-left: 1rem;
}

.nav__logout:hover {
  color: #cca114;
}
