@import url("https://fonts.googleapis.com/css2?family=Abel&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito";
}

a {
  text-decoration: none;
  color: #eee;
}

.outlined {
  border: 1px solid red;
}

.outlined2 {
  border: 1px solid blue;
}

.outlined3 {
  border: 1px solid green;
}
.colored {
  background-color: rgb(217, 215, 178);
}
.company-link {
  color: hsl(224, 100%, 50%);
}

.company-link:hover {
  color: hsla(224, 100%, 50%, 0.49);
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.no-padding-y {
  padding-top: 0;
  padding-bottom: 0;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullWandH {
  width: 100%;
  height: 100%;
}

.add-course__topic {
  border: none;
  border-bottom: 1px solid gray;
}

input:focus,
input:active {
  outline: none;
}

/* containers */
.flex-wrap-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

/* table */
.users-table__header {
  background-color: red;
}
